{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
    ul.ui-autocomplete {
        z-index: 1100;
    }
</style>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group form-inline">
                <label>Select City:&emsp;</label>
                <input type="text" name="city" id="city" class="form-control input-md ac_city">&emsp;
                <button id='add_city' class="btn btn-primary" data-toggle="modal" data-target="#cityModal">Add City</button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group form-inline">
                <label>Select Junction:&emsp;</label>
                <select class="form-control" id="junction">
                    <option value='select'>Select</option>
                </select>&emsp;
                <button id='add_junction' class="btn btn-primary" data-toggle="modal" data-target="#junctionModal">Add Junction</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="well well-sm">
                <table id="time_table" class="table table-striped table-bordered text-center table-responsive">
                    <tr>
                        <td>Time</td>
                        <td>HR:MN</td>
                        <td>DT</td>
                        <td>MT</td>
                        <td>YR</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-sm">
                <table id="cycletime_table" class="table table-striped table-bordered text-center table-responsive">
                    <tr>
                        <td>Cycle Time</td>
                        <td>HR:MN</td>
                        <td>DT</td>
                        <td>MT</td>
                        <td>YR</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-sm">
                <table id="cycleelapse_table" class="table table-striped table-bordered text-center table-responsive">
                    <tr>
                        <td>Cycle Elapsed Time</td>
                        <td>HR:MN</td>
                        <td>DT</td>
                        <td>MT</td>
                        <td>YR</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="well well-sm">
                <table id="automanual_table" class="table table-striped table-bordered text-center table-responsive">
                    <tr>
                        <td>Mode</td>
                        <td>HR:MN</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <div class="well well-sm">
                <table id="workingon_table" class="table table-striped table-bordered text-center table-responsive">
                    <tr>
                        <td>Working On</td>
                        <td>Blinker</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table id="junction_table" class="table table-striped table-bordered table-condensed text-center table-responsive">
                <thead>
                    <tr>
                        <td><b>Phase</b></td>
                        <td><b>Road Name</b></td>
                        <td><b>Normal Time</b></td>
                        <td><b>Step Elapsed Time</b></td>
                        <td><b>Status</b></td>
                    </tr>
                </thead>
                <tbody id="junction_table_body">
                    <tr>
                        <td><b>Phase 1</b></td>
                        <td><b></b></td>
                        <td><b></b></td>
                        <td><b></b></td>
                        <td><i class="fa fa-circle fa-3x" aria-hidden="true" style="color: #FFC200;"></i><h4 style="color: #FFC200;">Amber</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--City Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="cityModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create City</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="errors_modal"></div>
                            <div class="form-group form-inline text-center">
                                <div class="col-md-6">
                                    <label>City Name:</label>
                                </div>
                                <div class="col-md-3">
                                    <input id="city_name" class="form-control input-md" type="text">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="save_city" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Junction Modal-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="junctionModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Create Junction</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                          <div class="errors_modal"></div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label>City Name:</label>
                                    <input type="text" id="select_city" class="form-control input-md ac_city">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label>Junction Name:</label>
                                    <input id="junction_name" class="form-control input-md" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label>Road Name 1:</label>
                                    <input id="road_name1" class="form-control input-md" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label>Road Name 2:</label>
                                    <input id="road_name2" class="form-control input-md" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label>Road Name 3:</label>
                                    <input id="road_name3" class="form-control input-md" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label>Road Name 4:</label>
                                    <input id="road_name4" class="form-control input-md" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label>Road Name 5:</label>
                                    <input id="road_name5" class="form-control input-md" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label>Road Name 6:</label>
                                    <input id="road_name6" class="form-control input-md" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label>Road Name 7:</label>
                                    <input id="road_name7" class="form-control input-md" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label>Road Name 8:</label>
                                    <input id="road_name8" class="form-control input-md" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="save_junction" class="btn btn-primary">Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript">
        $(document).ready(function(){
            $("#junction").prop("disabled", true);
            $(".ac_city").autocomplete({
                source: function(request, response) {
                    
                    $.ajax({
                        url: "{{traffic_service_url}}"+"city/",
                        type : "get",
                        headers: {'X-Authorization-Token' : '{{request.session.userservice_key}}',
                                    'content_type':'application/json'},
                        dataType: 'json',
                        data :{
                            "term": request.term
                        },
                        success:function(data){
                            console.log(data);
                            var city_data=[];
                            var result = data['responseData'];
                            for (i=0;i<result.length;i++){
                                city_data.push(result[i]['city']);
                            }
                            response(city_data);
                            $("#junction").prop("disabled", false);
                        }
                    });
                },
                change: function(event,ui){
                        if (ui.item==null){
                            $("#city").val('');
                            $("#city").focus();
                        }
                        var city = $("#city").val();
                        $.ajax(
                        {
                            type: 'get',
                            url: "{{traffic_service_url}}"+"junction/?type=1&city="+city,
                            headers: {'X-Authorization-Token' : "{{request.session.userservice_key}}",
                                            'content_type':'application/json'},
                            dataType: 'json',
                            success : function(data)
                                    {
                                        result = data['responseData'];
                                        console.log(result);
                                        for(i=0;i<result.length;i++){
                                            data = "<option value='"+result[i]['junction_id']+"'>"+result[i]['junction_name']+"</option>";
                                            $("#junction").append(data);
                                        }
                                        
                                    },
                                    error : function(error)
                                    {
                                        window.alert(error);
                                    },
                        });
                    }
            });

            $("#save_city").click(function(){
                var errors=[];
                var city_name = $("#city_name").val();
                $("#city_name").css({"border-color": "#ccc"});
                if (city_name.length == 0) {
                    errors[errors.length] = "Enter City Name.";
                    $("#city_name").css({"border-color": "#ff4c4c"});
                    $("#city_name").focus();
                }
                if (errors.length > 0) {
                    reportErrorsModal(errors);
                    return false;
                }
                $.ajax(
                    {
                        type:'post',
                        url: "{{traffic_service_url}}"+"city/",
                        headers: {'X-Authorization-Token' : '{{request.session.userservice_key}}',
                                    'content_type':'application/json'},
                        dataType: 'json',
                        data: JSON.stringify({ 'city_name': city_name}),
                        success : function(data)
                            {   
                                if (data['responseData']['responseCode'] == 200) {
                                    var message;
                                    message = data['responseData']['Message'];
                                    swal({
                                        title: "Success!!!",
                                        text: message,
                                        type: "success",
                                    },
                                    function(){
                                        location.reload();
                                    });
                                }else {
                                    var message;
                                    message = data['responseData']['Message'];
                                    $("#city_name").val('');
                                    swal("Error!!!", message, "error");
                                }
                                console.log(data)
                                
                            },
                        error : function(error)
                                {
                                    window.alert(error['responseText'])
                                }
                    });
                });

            $("#save_junction").click(function(){
                var errors=[];
                var city_name = $("#select_city").val();
                var junction_name = $("#junction_name").val();
                var road_name1 = $("#road_name1").val();
                var road_name2 = $("#road_name2").val();
                var road_name3 = $("#road_name3").val();
                var road_name4 = $("#road_name4").val();
                var road_name5 = $("#road_name5").val();
                var road_name6 = $("#road_name6").val();
                var road_name7 = $("#road_name7").val();
                var road_name8 = $("#road_name8").val();

                $("#select_city").css({"border-color": "#ccc"});
                $("#junction_name").css({"border-color": "#ccc"});
                $("#road_name1").css({"border-color": "#ccc"});
                $("#road_name2").css({"border-color": "#ccc"});
                $("#road_name3").css({"border-color": "#ccc"});
                $("#road_name4").css({"border-color": "#ccc"});
                $("#road_name5").css({"border-color": "#ccc"});
                $("#road_name6").css({"border-color": "#ccc"});
                $("#road_name7").css({"border-color": "#ccc"});
                $("#road_name8").css({"border-color": "#ccc"});

                if (city_name.length == 0) {
                    errors[errors.length] = "Enter City Name.";
                    $("#select_city").css({"border-color": "#ff4c4c"});
                    $("#select_city").focus();
                }
                if (junction_name.length == 0) {
                    errors[errors.length] = "Enter Junction Name.";
                    $("#junction_name").css({"border-color": "#ff4c4c"});
                    $("#junction_name").focus();
                }
                if (road_name1.length == 0) {
                    errors[errors.length] = "Enter Road Name 1.";
                    $("#road_name1").css({"border-color": "#ff4c4c"});
                    $("#road_name1").focus();
                }
                if (road_name2.length == 0) {
                    errors[errors.length] = "Enter Road Name 2.";
                    $("#road_name2").css({"border-color": "#ff4c4c"});
                    $("#road_name2").focus();
                }
                if (road_name3.length == 0) {
                    errors[errors.length] = "Enter Road Name 3.";
                    $("#road_name3").css({"border-color": "#ff4c4c"});
                    $("#road_name3").focus();
                }
                if (road_name4.length == 0) {
                    errors[errors.length] = "Enter Road Name 4.";
                    $("#road_name4").css({"border-color": "#ff4c4c"});
                    $("#road_name4").focus();
                }
                if (road_name5.length == 0) {
                    errors[errors.length] = "Enter Road Name 5.";
                    $("#road_name5").css({"border-color": "#ff4c4c"});
                    $("#road_name5").focus();
                }
                if (road_name6.length == 0) {
                    errors[errors.length] = "Enter Road Name 6.";
                    $("#road_name6").css({"border-color": "#ff4c4c"});
                    $("#road_name6").focus();
                }
                if (road_name7.length == 0) {
                    errors[errors.length] = "Enter Road Name 7.";
                    $("#road_name7").css({"border-color": "#ff4c4c"});
                    $("#road_name7").focus();
                }
                if (road_name8.length == 0) {
                    errors[errors.length] = "Enter Road Name 8.";
                    $("#road_name8").css({"border-color": "#ff4c4c"});
                    $("#road_name8").focus();
                }
                if (errors.length > 0) {
                    reportErrorsModal(errors);
                    return false;
                }
                $.ajax(
                    {
                        type:'post',
                        url: "{{traffic_service_url}}"+"junction/",
                        headers: {'X-Authorization-Token' : '{{request.session.userservice_key}}',
                                    'content_type':'application/json'},
                        dataType: 'json',
                        data: JSON.stringify({ 'city': city_name,
                                                'junction_name': junction_name,
                                                'road_name1': road_name1,
                                                'road_name2': road_name2,
                                                'road_name3': road_name3,
                                                'road_name4': road_name4,
                                                'road_name5': road_name5,
                                                'road_name6': road_name6,
                                                'road_name7': road_name7,
                                                'road_name8': road_name8
                                            }),
                        success : function(data)
                            {   
                                if (data['responseData']['responseCode'] == 200) {
                                    var message;
                                    message = data['responseData']['Message'];
                                    swal({
                                        title: "Success!!!",
                                        text: message,
                                        type: "success",
                                    },
                                    function(){
                                        location.reload();
                                    });
                                }else {
                                    var message;
                                    message = data['responseData']['Message'];
                                    $("#select_city").val('');
                                    $("#junction_name").val('');
                                    swal("Error!!!", message, "error");
                                }
                                console.log(data)
                            },
                        error : function(error)
                                {
                                    window.alert(error['responseText'])
                                }
                    });
                });

            function reportErrorsModal(errors){
                                $('.errors_modal').empty();
                                var msg = [];
                                for (var i = 0; i<errors.length; i++) {
                                    var numError = i + 1;
                                    msg [i]= "\n" + numError + ". " + errors[i] ;
                                }
                                $.each(msg, function(){
                                    $('.errors_modal').append("<div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>" + this +"</div>");
                                });
                        }
        });
</script>
{% endblock %}